<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/transfer.png">
    <link rel="stylesheet" href="/static/baseStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block externalcss %}
        
    {% endblock externalcss %}
    <title>{% block title %}
        
    {% endblock title %}</title>
    
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="margin-left: 50px;"> <b><i class="material-icons" >compare_arrows</i> VASTU</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block activeHome %}
                
            {% endblock activeHome %}">
              <a class="nav-link" href="/"><span class="material-icons">web_asset</span> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block activeCategory %}
                
            {% endblock activeCategory %}">
              <a class="nav-link" href="/category"><i class="material-icons">apps</i> Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block activeChat %}
                  
              {% endblock activeChat %}" href="/chat"><i class="material-icons">forum</i> Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block activeMyAds %}
                    
                {% endblock activeMyAds %}" href="/myads"><i class="material-icons">favorite_border</i> My Ads</a>
              </li>
            <li class="nav-item" >
                <a class="nav-link {% block activeSell %}
                    
                {% endblock activeSell %}" title="Sell your items" href="/sell"><i class="material-icons">library_add</i> Sell</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" title="logout" href="/logout"><i class="material-icons">subdirectory_arrow_right</i> Logout</a>
          </li>
          </ul>
          
          <span class="navbar-text"  style="margin-right: 50px;">
           <a href="/profile" class="profile_link">
                {% block userName %}
                
                {% endblock userName %} 
                <i class="material-icons" style="font-size: 15px;">verified_user</i>
            </a>
          </span>
        </div>
      </nav>

    {% block body %}
        
    {% endblock body %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>